<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Resposta</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <h1>Status do Login</h1>

    <h2><%= mensagem %></h2>

</body>

</html>