<!DOCTYPE html>
<html>

<body>

<h1>Carros</h1>

<% carros.forEach(function(carro){ %>

<h2><%= carro.marca %></h2>

<p><%= carro.modelo %></p>

<p><%= carro.ano %></p>

<p><%= carro.quantidade %></p>

<% }) %>

</body>

</html>